        @font-face {
            font-family: US;
            src: url(font/UtopiaStd-Subh.otf);
        }

        @font-face {
            font-family: PC;
            src: url(font/PrintClearlyFont/PrintClearly_TT.ttf);
        }

        @font-face {
            font-family: ch1;
            src: url(font/NotoSansKannada-Bold.ttf);
        }

        @font-face {
            font-family: ch2;
            src: url(font/SourceHanSansTC-ExtraLight.otf);
        }