* {
    margin: 0;
    padding: 0;
}

/*<a>去除連結底線*/
a,
a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

.bodyColor {
    background-color: #000;
}

.goTop{
    position:fixed;
    right: 10px;
    bottom: 40px;
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
}